*{
	box-sizing: border-box;
	width: 100%;
}
@font-face {
	src: url(../fonts/NewPeninimMT-Bold-04.ttf);
	font-family: peninim;
  font-weight: normal;
  font-style: bold;
}

@font-face {
	src: url(../fonts/david.ttf);
	font-family: david;
  font-weight: normal;
  font-style: bold;
}

body{
	margin: 0 auto;
	font-family: david;
	font-weight: 100;
	box-sizing: content-box;
	max-width: 720px;
	margin: 0 auto;
	padding: 0px 50px;
}

p{
	color: #A9AAAB;
	font-size: 12px;
	text-align: left;
	margin: 0;
}

h1{
	font-family: peninim;
	font-weight: normal;
	font-style: bold;
	text-align: center;
	font-size: 44px;
	padding: 35px;
	margin: 20px auto;
}

img{
	width: 600px;
	display: none;
	margin: 0 auto;

}

.gif{
	width: 60px; 
	float: left; 
	padding: 0; 
	margin: -50px 0px 0px 0px 
}



.flexbox-container{
	display: flex;	
	width: 100%;
}

.dropbtn{
	background-color: #CECE99;
	color: black;
	font-family: 'peninim';
	font-size: 15px;
	padding: 3px 0;
	cursor: pointer;
	width: 100%;
}

.dropdown{
	position: relative;
	display: inline-block;
	width: 40%;
}


.dropdown-content{
	display: none;
	position: absolute;
	background-color: #A7A774;
	color: white;
	/*just width?*/
	z-index: 1;
	font-family: peninim;
}

.dropdown-content:hover a{
	display: block;
}

.dropdown-content a{
	color: white;
	padding: 3px 12px;
	text-decoration: none;
	display: block;
	font-size: 15px;
	text-align: center;
	border-top: 2px solid #767676;
	border-right: 2px solid #212121;
	border-bottom: 2px solid #212121;
	border-left: 2px solid #767676;
	width: 100%;
}

.dropdown-content a:hover{
	background-color: #CECE99;
	color: black;
	width: 100%;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.movie-info{
	display: inline-block;
	background-color: #A7A774;
	color: white;
	font-family: 'peninim';
	font-size: 15px;
	padding: 3px 0;
	color: white;
	cursor: pointer;
	float: left;
}

.movie-info:hover{
	background-color: #CECE99;
	color: black;
}


/*lower button group*/
.btn-group  button{
	color: white;
	background-color: black;
	padding: 4px 0px;
	margin: 0;
	float: right;
	width: 20%;
	font-size: 12px;
	font-family: david;
	cursor: pointer;
}

.btn-group button:hover{
	background-color: #282922;
}

.btn-group button:focus{
	background-color: #4A4949;
}

/*youtube embed style*/
.video-container{
  display: flex;
  height:44vh;
  overflow:hidden;
  position:relative;
  border: 2px solid #212121;
  margin: 12px 0 0 0;

}
.video-container iframe,{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.video-container iframe, {
  pointer-events: none;
}
.video-container iframe{
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: calc(100% + 120px);
}
.video-foreground{
  pointer-events:none;
}

.links{
	margin: 110px 0px 30px;
	text-align: center;
	width: initial;
	font-size: initial;
	font-size: 14px;
	text-decoration: underline;
}
